@use 'styles';
@use './styles/variables' as *;

html {
  background-color: $color-shark; // the background color if you scroll too far
}

body {
  min-height: 100vh;
  padding: 0.25rem 0.25rem 12rem 0.25rem; // Prevent object being hidden by the keyboard
  background: $color-shark;
  // background: #ddd;
}
